.parent {
  font-family: 'Montserrat', 'Arial', sans-serif;
  background: white;
}
.parent__title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 24px;
  background: white;
  color: gray;
  cursor: pointer;
  transition: .3s ease;
  border-bottom: 1px solid gray;
  margin:0;
}

.parent__copy {
  display: none;
  padding: 16px 24px 32px 24px;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 500;
}
.child__copy--open {
  display: block;
}

.child__title {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 16px 24px;
  background: white;
  color: gray;
  cursor: pointer;
  transition: .3s ease;
  border-bottom: 1px dashed gray;
  margin:0;
}

.child__anchor{
  text-decoration: none;
}

.child__copy {
  display: none;
  padding: 16px 24px 32px 24px;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
  font-family: "Arial", sans-serif;
}
.child__copy--open {
  display: block;
}

.parent--active {
  color: green;
  display:block;
}

.child--active {
  color:red;
  font-style: italic;
  display: block;
}

body {
  background: white;
}

a {
  text-decoration: none;
  outline: 0;
}

.child--sub {
  border-bottom: 1px solid gray;
}

.child--sub:active {
  transition:0.9s;
  background-color: darkred;
}
