.parent {
  font-family: "Arial", sans-serif;
  background: white;
}
.parent__title {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: white;
  color: gray;
  cursor: pointer;
  transition: .3s ease;
  border-bottom: #222222;
  border-bottom: 1px solid gray;
  margin:0;
}

.parent__copy {
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}
.child__copy--open {
  display: block;
}

.child__title {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem 1.5rem;
  background: white;
  color: gray;
  cursor: pointer;
  transition: .3s ease;
  border-bottom: #222222;
  border-bottom: 1px solid gray;
  margin:0;
}

.child__copy {
  display: none;
  padding: 1rem 1.5rem 2rem 1.5rem;
  color: gray;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 500;
}
.child__copy--open {
  display: block;
}

body {
  background: white;
}
